{% extends 'generator/layout.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quod ab commodi doloribus pariatur et officia qui cum praesentium deleniti, omnis cumque deserunt repudiandae ut odio nihil quasi distinctio adipisci.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur sint fugiat voluptatum aspernatur corporis perferendis, molestiae expedita cumque at fuga facilis reprehenderit perspiciatis et illum, iste qui nobis nisi temporibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti iure laborum eos a explicabo. Aliquam deserunt veritatis odit sit illum quia, rem nobis cum fugit fugiat neque natus nihil iure porro molestias dolores eligendi. Molestiae et dicta tenetur iste reiciendis consequuntur enim, numquam voluptatem, delectus ea odio nam iusto totam ratione eius aspernatur culpa. Minus sequi dolorum molestias eos, nulla repudiandae est numquam culpa quidem obcaecati! Quaerat, incidunt. Voluptate, eos. Fugiat, reiciendis minima ex voluptatem enim facere ipsa. Sit suscipit expedita assumenda atque enim iste amet repellat, voluptas reiciendis perspiciatis ullam voluptates laboriosam. Impedit, obcaecati consequatur. Nisi eos iste rerum.</p>

{% endblock %}