{% extends 'generator/layout.html' %}

{% block content %}

<h1>About</h1>

<p>This is a page to create passwords automatically, you can choose the size of the password between 8 or 15 characters, if you want to use capital letters, symbols and/or numbers, take into account the recommendations to create a secure and unique password.</p>
<br>
<h1>Encryption whit SHA-256</h1>
<p>There are many systems to encode information and one of them is the SHA-256 algorithm.</p>
<p>Among the different ways of creating hashes, the algorithm used by SHA-256 is one of the most used due to its balance between security and computational generation cost, since it is a very efficient algorithm for its high collision resistance.</p>

{% endblock %}