{% extends 'generator/layout.html' %}

{% block content %}

<h1>How to create a strong password</h1>

<br>
<br>
<p> - First of all, make it long, at least 8 characters, but preferably longer.</p>
<p> - Second, it uses a good mix of characters. A strong password should be varied: upper and lower case letters, numbers and special symbols. This makes it less predictable and more difficult to crack.</p> 
<p> - Third, make it unique. Create a new password for each new service you use. That way, if one leaks, you won't have to change them all. And to avoid having to remember multiple passwords and log in every time, use a password manager.</p>    

{% endblock %}